/*
*
* Styler da sessão projetos
*
*/

.C_projects{
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: var(--Color-dark);
  
  }
  .C_projects .section-header{
    justify-content: center;
  }
  .C_projects__types_content{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .C_projects__header_types,
  .C_projects__header_types a{
    font-size: 1.3rem;
    font-family:  var(--font-action);
    color: #f5f5f5;
    font-weight: 500;
  }
  .C_projects__card_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 2rem;;
  }
  .card {
    position: relative;
    width: 16.6rem;
    height: 19.75rem;
    margin: 1rem 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    background-color: transparent;
  }
  
  .card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
  }
  
  .card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .card:hover .card-img-wrapper img {
    opacity: 0.5;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    padding: 14px;
    text-align: center;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  
  .card:hover .card-info {
    bottom: 1.5rem;
    opacity: 1;
    visibility: visible;
  }
  
  .card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #ff4081;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  
  .card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #eee;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  
  .card-info p {
    font-family: var(--font-primary);
    line-height: 1rem;
    color: #eee;
    font-weight: 600;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .btn {
    background: var(--Color-light-pink);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, var(--Color-light-pink));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, var(--Color-light-pink));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  
  .card-info button{
    width: 50%;
    height: 2.5rem;
    margin: 0 auto;
  }
  .card-info a {
    width: 100%;
    height: 100%;
  }
  
  /*
  *
  * Styler da sessão projetos-mobile
  *
  */
  
  @media (max-width: 600px) {
    .C_projects__types_content{
      width: 100% !important;
    }
    .card {
      height: 25rem;
      margin-bottom: 1.5rem;
    }
  
    .card .card-info {
      visibility: visible;
      text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    }
  
    .card .card-inf h2 {
      font-size: 0.7rem;
      line-height: 0.2rem;
    }
  }
  