.nav_menu {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 5.625rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    z-index: 50;
  
    /* position:fixed;
    background-color: #efe6e612; */
  }
  
  #nav_menu__logo {
    width: 4.813rem;
    height: 4.625rem;
  }
  #nav_menu__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #nav_menu__menu {
    display: flex;
    justify-content: center;
  }
  .menu__item{
    font-family: var(--font-primary);
    font-size: 1.3rem;
    margin: 0 1rem;
    color: #ffffff;
    position: relative;
  
  }
  .menu__item::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -.3rem;
    left: 0;
    background-color: var(--Color-violet);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .menu__item:hover::after {
    color:#f3f3f3;
    transform: scaleX(1);
    transform-origin: bottom left;
  }